<div>
    <router-link to="/posts">back to posts</router-link>
    <p><strong>Archive</strong> component</p>
    <p>
        <label>svg</label>
        <img src="../images/list.svg" alt="">
    </p>
    <p>
        <label>profile</label>
        <img src="../images/profile.png" alt="">
    </p>
    <p>
        <label>thumbnail</label>
        <img src="../images/thumbnail.jpg" alt="">
    </p>
    <p>
        <label>picture</label>
        <img src="../images/yuko-ogura.jpg" width="400" alt="">
    </p>
</div>
